.btn {
    width: 100%;
    border-radius: 100px;
    height: 55px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 800;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;

    @media only screen and (max-width: 480px) {
        height: 50px;
    }
    svg,
    img {
        margin-right: 13px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:disabled {
        opacity: 0.5;
        cursor: initial;
    }
}
.btn-primary {
    background-color: #06b89d;
    color: white;
}
.btn-secondary {
    border: solid 2px #6f8797;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.1);
}
.btn-dark-outline {
    color: #000000;
    border: solid 3px #000000;
    background-color: rgba(0, 0, 0, 0);
}
.btn-option {
    height: 74px;
    background: #fffaf5;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    color: #31556f;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 19px;
    align-items: flex-end;
    justify-content: flex-start;
    &:hover,
    &.selected {
        background-color: #9497e8;
        color: #fdfdfd !important;
    }
}
.btn-red {
    background: linear-gradient(268.6deg, #d71e6b 14.35%, #dc4a5c 81.91%);
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    color: white;
}
